player-connection-mode=Listen
player-connection-guid=497536982
player-connection-debug=0
player-connection-project-name=Escapo
player-connection-ip=169.254.99.252
player-connection-ip=25.23.23.138
player-connection-ip=192.168.1.35
player-connection-ip=192.168.197.1
player-connection-ip=192.168.187.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
